@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;900&family=Raleway:wght@100;300;500;700&display=swap");

:root {
  --bodyBack: #ffeaed;
  --textColor: #201b1b;
  --starColor: #d88964;
  --sectionBack: #e9cece;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  background-color: var(--bodyBack);
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.container {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: cursive;
}
.header {
  width: 100%;
  text-align: center;
}
.header h1 {
  font-size: 2em;
  text-transform: uppercase;
  color: rgb(77, 42, 18);
  font-family: cursive;
}
.products {
  width: 100%;
  align-self: center;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.product {
  position: relative;
  background-color: var(--sectionBack);
  width: 350px;
  height: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 40px;
  border-radius: 10px;
  transition: 0.3s;
}
.product:hover {
  transform: translateY(-15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.image {
  width: 100%;
  height: 60%;
  display: grid;
  place-content: center;
}
.image img {
  width: 240px;
}
.namePrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.namePrice h3 {
  font-size: 2em;
  text-transform: capitalize;
  color: rgb(22, 3, 3);
}
.namePrice span {
  font-size: 1.5em;
  color: rgb(48, 7, 7);
}
.product p {
  font-size: 18px;
  line-height: 25px;
}
.stars svg {
  font-size: 1.3em;
  color: var(--starColor);
}
.buy {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.buy button {
  padding: 10px 20px;
  border-radius: 7px;
  border: 0cqb;
  background-color: var(--textColor);
  color: var(--sectionBack);
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
}
.buy button:hover {
  transform: scale(1.1);
}
